@media(max-width: 800px) {
  .form-container {
    margin-top: 80px;
    height: 75vh;
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .form-container h2 {
    margin: 40px;
    margin-left: 80px;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 35px;
  }


  .form-container img{
    height: 200px;
    width: 300;
    padding: 40px;
    margin-top: 30px;
    margin-left: 50px;
  }
  .otp input {
    border: 3px solid rgba(8, 8, 8, 0.566);
    height: 35px;
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border-radius: 50px;
    outline: none;
    margin-top: 40px;
    margin-left: 60px;
    margin-bottom: -30px;
  }

  .otp input:focus {
    border: 4px solid #ed792093;
    color: rgb(0, 0, 0);
  }

  .form-container .login {
    padding: 10px;
    font-size: 24px;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    width: 320px;
    height: 60px;
    margin-top: 70px;
    margin-bottom: 30px;
    margin-left: 60px;
  }
}
